In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [2]:
business = pd.read_json("..\\data\\business.json", lines = True) #uploading data

In [3]:
business.head(n=2)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{'GoodForKids': 'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON

In [4]:
sub = business["attributes"] # taking column in json format
sub.to_json('..\\data\\attributes.json')

In [6]:
attribs = pd.read_json("..\\data\\attributes.json", orient='index') # reading it in pretty format

In [7]:
attribs.RestaurantsPriceRange2.value_counts()

2       61506
1       33859
3       10462
4        2255
None       97
Name: RestaurantsPriceRange2, dtype: int64

In [8]:
attribs.shape

(192609, 39)

In [9]:
df = pd.concat([business, attribs], axis = 1)
df = df.dropna(subset=['RestaurantsPriceRange2'])
df = df.drop(['attributes'], axis = 1)

In [10]:
df.head()

,address,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,...,RestaurantsCounterService,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,Smoking,WheelchairAccessible,WiFi
1,30 Eglinton Avenue W,QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,...,NaN,False,True,2,True,True,True,NaN,NaN,u'no'
2,"10110 Johnston Rd, Ste 15",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,...,NaN,False,True,2,True,True,True,NaN,NaN,u'no'
5,"Credit Valley Town Plaza, F2 - 6045 Creditview Rd",68dUKd8_8liJ7in4aWOSEA,"Shipping Centers, Couriers & Delivery Services...",Mississauga,"{'Monday': '9:0-19:0', 'Tuesday': '9:0-20:0', ...",1,43.599475,-79.711584,The UPS Store,L5V 0B1,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
6,20 Douglas Woods Drive Southeast,5JucpCfHZltJh5r1JabjDg,"Beauty & Spas, Hair Salons",Calgary,None,1,50.943646,-114.001828,Edgeworxx Studio,T2Z 1K4,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
7,"4545 E Tropicana Rd Ste 8, Tropicana",gbQN7vr_caG_A1ugSmGhWg,"Hair Salons, Hair Stylists, Barbers, Men's Hai...",Las Vegas,"{'Monday': '10:0-19:0', 'Tuesday': '10:0-19:0'...",1,36.099872,-115.074574,Supercuts,89121,...,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN