In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
df = pd.read_csv("..\\data\\data.csv")
df = df.drop("Unnamed: 0", axis = 1)

In [19]:
df.head(2)

,address,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,...,RestaurantsCounterService,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,Smoking,WheelchairAccessible,WiFi
0,30 Eglinton Avenue W,QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,...,NaN,False,True,2,True,True,True,NaN,NaN,u'no'
1,"10110 Johnston Rd, Ste 15",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,...,NaN,False,True,2,True,True,True,NaN,NaN,u'no'

In [10]:
df["state"].unique()

array(['ON', 'NC', 'AB', 'NV', 'AZ', 'OH', 'PA', 'QC', 'WI', 'IL', 'NY',
       'SC', 'TX', 'NM', 'BAS', 'AK', 'XGM', 'CA', 'WA', 'BC', 'VT', 'CT',
       'GA', 'AL', 'XWY', 'AR', 'FL', 'XGL'], dtype=object)

In [12]:
df.groupby("city")["business_id"].count().sum()

108179

In [13]:
df.city.value_counts()

Las Vegas                                 14891
Toronto                                   13513
Phoenix                                    8484
Charlotte                                  5389
Calgary                                    5008
MontrГ©al                                  4915
Pittsburgh                                 4366
Scottsdale                                 4235
Mesa                                       2562
Tempe                                      2270
Cleveland                                  2243
Madison                                    2176
Henderson                                  2125
Mississauga                                2097
Chandler                                   2064
Glendale                                   1737
Gilbert                                    1420
Markham                                    1274
Peoria                                      826
North York                                  791
Champaign                                   790
North Las Vegas                             727
Scarborough                                 716
Richmond Hill                               703
Brampton                                    637
Vaughan                                     632
Concord                                     574
Etobicoke                                   512
Surprise                                    496
Goodyear                                    423
                                          ...
Henderson (Green Valley)                      1
Catawba Springs                               1
Caledon Village                               1
Phoenix, AZ                                   1
Lynhurst                                      1
QUEEN CREEK                                   1
MontГ©al                                      1
Leeds                                         1
Rockyview                                     1
Scarbrough                                    1
Schaumburg                                    1
Pointe Claire                                 1
Napierville                                   1
Whtiby                                        1
Montgomery                                    1
Alburg                                        1
CAREFREE                                      1
Northyork                                     1
Lower Lawrenceville                           1
Hampstead                                     1
Greensboro                                    1
Oakridges                                     1
St-BenoГ®t de Mirabel                         1
Strip District                                1
McKeesRocks                                   1
University Hts                                1
Saint-Pierre-de-VГ©ronne-Г -Pike-River        1
Lake Park                                     1
Fithian                                       1
Rougemont                                     1
Name: city, Length: 907, dtype: int64

In [14]:
df = df[df["is_open"] == 1]